<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Aroma</title>
</head>

<body>
	<h1>Cadastrar novo óleo Essencial</h1>
	<section>
		<% if(errors) { %>
			<ul>
				<% for(let i=0; i < errors.length; i++){ %>
					<li>
						<%= errors[i].msg %>
					</li>
					<% } %>
			</ul>
			<% } %>
	</section>
	<form action="/oleo/salvar" method="post">
		<input type="text" name="nome" placeholder="Digite o nome do oleo" value=<%= oleo.nome %>>
		<input type="number" name="nomecientifico" placeholder="Digite o nome cientifico" value=<%= oleo.nomeCientifico %>>
		<input type="text" name="urlfoto" placeholder="Digite a url da foto" value=<%= oleo.foto %>>
		<input type="text" name="descricao" placeholder="Digite a descricao do oleo" value=<%= oleo.descricao %>>
		<input type="submit" value="enviar">
	</form>

</body>

</html>