<%- include ('../partials/header.ejs'); %>
<body>
    <%- include ('../partials/homenavbar.ejs'); %>
    <div class="card-header">
        <h4>Editar óleo</h4>
    </div>
    <div class="container">
        <form method="POST" action="/atualiza/<%= oleo.id_oleo %>">
            <label>Nome Comum</label>
            <input type="text" placeholder="Nome Comum" class="form-control" name="nome_comum" value="<%= oleo.nome_comum %>">
            <label>Nome Cientifico</label>
            <input type="text" placeholder="Nome Cientifico" class="form-control" name="nome_cientifico" value="<%= oleo.nome_cientifico %>">
            <label>Foto</label>
            <input type="text" placeholder="digite a URL da imagem" class="form-control" name="foto" value="<%= oleo.foto %>">
            <br><label>Descrição</label>
            <textarea placeholder="Descreva seu óleo aqui" class="form-control" name="descricao"><%= oleo.descricao %></textarea>
            <br>
            <button class="btn btn-primary">Salvar</button>
        </form >
    </div>
</body>
<%- include ('../partials/footer.ejs'); %>

